*{
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 18px;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    background-color: hsla(255, 88%, 90%, 0.205);
}
main{  
    height: 80%;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 1rem;
}
.container1{
    grid-column:  3/7;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}
.container1 h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.container1 p{
    font-size: 1rem;
    opacity: 0.9;
}
.container1 span{
    color: hsl(39, 100%, 71%)
}
.container1 img{
    width: 60%;
    height: 2rem;
}
.container2{
    grid-column: 3 /5;
    grid-row: 5/8;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;

}
.container2 h2{
    font-weight: 500;
    font-size: 1.2rem;
    
}
.container2 img{
    height: 2rem;
    /* transform: translateX(100px); */
}
.container3{
    grid-column: 5/7;
    grid-row: 5/8;
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsl(39, 100%, 71%);
    overflow: hidden;
}
.container3 h2{
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
.container3 img{
    width: 100%;
}
.container4{
    grid-column:  7/9;
    grid-row: 1/8;
    border-radius: 1rem;
    padding: 2rem;
    background-color: hsl(254, 88%, 90%);
    overflow: hidden; 
    
}
.container4 h2{
    font-weight: 500;
    font-size: 1.2rem; 
    padding-bottom: 0.5rem;
}
.container4 img{
    padding-bottom: 0.5rem;
    height: 10rem;
    width: 130%;
}
.container4 p{
    font-size: 16px;
}
.container5{
    grid-column: 5 /9;
    grid-row: 8/11;
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsl(256, 67%, 59%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: hsl(0, 0%, 100%);
}
.container5 h1{
    font-size: 28px;
}
.container5 img{
    height: 100%;
    width: 40%;
}
.container6{
    grid-column: 3 /5;
    grid-row: 8/11;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: hsl(0, 0%, 100%);

}
.container6 h1{
    font-size: 36px;
    align-self: start;
}
.container6 p{
    font-size: 16px;
    padding-bottom: 1rem;
}
.container6 img{
    padding-right: 3rem;
    width: 100%;
    height: 2rem;
}
.container7{
    grid-column: 1 /3;
    grid-row: 1/6;
    padding: 1.5rem;
    background-color: hsl(31, 66%, 93%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container7 i{
    color: hsl(256, 67%, 59%);
}
.container7 img{
    width: 100%;
    padding-top: 1rem;
}
.container8{
    grid-column: 1 /3;
    grid-row: 6/11;
    padding: 1.5rem;
    background-color: hsl(39, 100%, 71%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container8 h2{
    padding-bottom: 1rem;
}
.container8 img{
    width: 100%;
    height: 8rem;
}
h1, h2 {
  letter-spacing: -0.03em;
  font-weight: 500;
}

